/* Default styles for the navbar */
.navbar {
  position: sticky;
  top: 0;
  background-color: rgba(3, 2, 2, 0.85); /* Initial background color with some transparency */
  transition: background-color 0.3s ease; /* Smooth transition effect */
  z-index: 1000; /* Ensure the navbar appears above other elements */
}

/* Add a class to make the navbar transparent */
.navbar.transparent {
  background-color: rgba(0, 0, 0, 0); /* Transparent background color */
  backdrop-filter: blur(5px); /* Add blur effect for transparency (adjust as needed) */
  box-shadow: none; /* Remove box shadow when transparent */
}
